body {
  overflow-x: hidden;
  font-family: 'Pacifico'!important;


}

.img-fluid{object-fit: cover;}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

}

#sidebar-wrapper .sidebar-heading
{
  padding: 0.875rem 1.25rem;
  font-size: 1.5rem;
  color: #62a5a1;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#sidebar-wrapper .bg-light
{
  color: #62a5a1;

}

.list-group-item
{
  color: #62a5a1;
}

#navbarDropdown
{
  color: #62a5a1;
}

#navbarSupportedContent
{
    color: #62a5a1;
}

.dropdown-item
{
    color: #62a5a1;
}

.nav-link
{
    color: #62a5a1;
}

.nav-items
{
    color: #62a5a1;
}

.navbar-light .navbar-nav .active>.nav-link
{
  color: #62a5a1;


}

.navbar-light .navbar-nav .nav-link
{
    color: #62a5a1;
}

.btn
 {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  background-image: none;
}


button:focus {
    border: none;
    outline:none;
}

button:active {
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    outline:none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
